/*new css*/

.new_color_bg {
    background: #000;
}

#navbarNav {
    visibility: visible !important;
}

.LayoutDefault__Top-sc-1ydej6v-4 .HeaderContainer__Inner-sc-pny2b8-0 {
    background: none;
}

.new_gool_slider a[rel="noreferrer"] {
    min-width: 0px !important;
    max-height: 0px !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 0px !important;
       background: linear-gradient(#fff, #fff) !important;
}

.new_images_sold .new_one_add .owl-nav {
    display: block !important;
}

.new_pedding {
    padding-top: 136px;
}

.call_global_truck_academy , .contact_new , .our_tream_page {
    overflow: hidden;
}

.schedule {
    overflow: hidden;
}


.ReviewContent__ReviewContentContainer-sc-1d38qvn-0 , .LayoutDefault__Top-sc-1ydej6v-4 jtVuCI {
    max-height: 115px;
    min-height: 115px;
    overflow: hidden;
}

.new_gool_slider .jCgQhI {
    flex-flow: nowrap;
    margin: 2px 0;
    text-align: left;
    
}

.dLbuK{
     text:left !important; 
}

.dLbuK {
    justify-content: left !important;
}

.ShortenedText__Container-sc-1x39ulp-0.kQlUaq {
    text-align: left !important;
}

.kQlUaq{
    text:left !important;
}

.new_gool_slider a.ReviewLinkContainer__Link-sc-1k1tx10-0 {
    display: flex !important;
}

.ReviewAuthorBlock__InfoContainer-sc-1oqc15y-3.cOrKLu {
    text-align: left;
}

.jCgQhI .ReviewAuthorBlock__InfoContainer-sc-1oqc15y-3 {
   align-items: flex-start !important;
    padding-left: 9px;
}


.new_gool_slider .jHgCYG{
    display: grid;
    flex-direction: revert;
    -webkit-box-align: center;
    align-items: center;
}


a.ReviewLinkContainer__Link-sc-1k1tx10-0.dXFIAi.ReviewSource__SourceBottomContainer-sc-1ccjkez-6.bAEZfF.Spotlight__StyledReviewSource-sc-82dyxu-2.kAqXPt {
    order: 3;
    display:none !important;
}

.ReviewContent__ReviewContentContainer-sc-1d38qvn-0.hIkYTX {
    order: 2;
    margin-top: 14px;
}

.ReviewAuthorBlock__AuthorBlockContainer-sc-1oqc15y-4 {
    order: 1;
}



.new_gool_slider a {
    display: none !important;
}

.LayoutDefault__Content-sc-1ydej6v-5.bLFanJ {
    width: 80%;
    float: right;
    margin-top: 0px !important;
} 

.LayoutDefault__Top-sc-1ydej6v-4.jtVuCI {
    width: 20%;
    float: left;
    margin-right: 28px;
    display: flex;
    align-items: center;
}



.LayoutDefault__Container-sc-1ydej6v-1.eoEnOI {
    display: flex;
}

.WidgetTitle__Header-sc-ruy1gu-2.jgxjWi {
    display: none;
}



.SimpleShortener__Inner-sc-19xjxqz-1 {
    font-size: 14px;
}


.new_one_add .owl-prev {
    position: absolute;
    top: 40% !important;
    left: -20px;
}

.ne_one_logo {
    width: 47%;
    margin: 11px auto 0px;
}

.new_one_add .owl-next {
    position: absolute;
    top: 40% !important;
    right: -20px;
}

.new_images_sold .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #000;
    text-decoration: none;
}

.new_one_add .owl-next span {
    font-size: 39px;
}

.new_one_add .owl-prev span {
    font-size: 39px;
}

.new_more_slider .owl-nav {
    display: none;
}

.new_img_yt img {
    height: 300px;
    object-fit: cover;
    object-position: top;
}


.from #alert .close {
    position: relative;
    right: -30px;
    top: -18px;
}

.from #alert .close span {
    font-size: 34px;
    color: #fff;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow: none !important;
}

.swal2-shown .swal2-modal.swal2-show {
    min-height: 276px !important;
    width: 40% !important;
    margin:0px auto;
}

h2#swal2-title {
    margin: 0 0 0.6em;
    font-size: 23px;
    color: #c0040b;
}





.swal2-styled {
    color: #4d4d4d !important;
    background: none !important;
    border: 2px solid #c0040b !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    border-radius: 12px !important;
}

.swal2-modal .swal2-buttonswrapper {
    margin-top: 6px !important;
}

.swal2-modal .swal2-content {
    font-size: 15px !important;
}

.swal2-icon {
    margin: 8px auto 23px !important;
}    

.swal2-styled:hover {
    background: linear-gradient(to right, #393939 2%, #c0040b 100%) !important;
    border: 2px solid #af6868 !important;
    color: #fff !important;
}


body .scroll {
  padding-right: 0;
}

.blog-post a:hover{
    color:#c0040b;
}


footer a:hover{color:#c0040b;}



.new_login button {
    color: #4d4d4d !important;
    background: none !important;
    border: 2px solid #c0040b !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    border-radius: 12px !important;
}

/*blog*/


.all_blog a , .aside a {
    color: #000;
    text-decoration: none;
}

.post-meta {
    margin: 15px 0px;
}

.post-meta .date {
    margin-right: 13px;
}



.all_blog h2 {
    margin: 15px 0px;
}

.new_ame {
    margin: 13px 0px;
    font-weight: 600;
}

.all_blog .bgr {
    margin-bottom: 24px;
}

/*blog*/


.new_programs .new_photo_ure img {
    height: 362px;
}

.testimonial .carousel-control-next, .testimonial .carousel-control-prev{
    width:auto;
}

/*.from select.form-control {*/
/*    padding: 12px 2px;*/
/*}*/

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.start_your_engine {
    box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
}

.contact_new .map iframe {
    box-shadow: 0px 0px 9px 2px #d7d7d7 !important;
}



.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 14px;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.map iframe {
    width: 100%;
    height: 298px;
}.map iframe {
    width: 100%;
    height: 298px;
}

.zoom-in-zoom-out {
    right: 0;
    position: fixed;
    float: right;
    bottom: 0;
    margin: 0 19px 19px 0;
    z-index: 8;
    background: #00ca4f;
    padding: 10px;
    border-radius: 50%;
}

.zoom-in-zoom-out img {
    display: block;
    width: 35px;
    -webkit-animation: ring 7s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 7s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 7s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
        transition: 1s ease;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }

    1% {
        -webkit-transform: rotateZ(30deg);
    }

    3% {
        -webkit-transform: rotateZ(-28deg);
    }

    5% {
        -webkit-transform: rotateZ(34deg);
    }

    7% {
        -webkit-transform: rotateZ(-32deg);
    }

    9% {
        -webkit-transform: rotateZ(30deg);
    }

    11% {
        -webkit-transform: rotateZ(-28deg);
    }

    13% {
        -webkit-transform: rotateZ(26deg);
    }

    15% {
        -webkit-transform: rotateZ(-24deg);
    }

    17% {
        -webkit-transform: rotateZ(22deg);
    }

    19% {
        -webkit-transform: rotateZ(-20deg);
    }

    21% {
        -webkit-transform: rotateZ(18deg);
    }

    23% {
        -webkit-transform: rotateZ(-16deg);
    }

    25% {
        -webkit-transform: rotateZ(14deg);
    }

    27% {
        -webkit-transform: rotateZ(-12deg);
    }

    29% {
        -webkit-transform: rotateZ(10deg);
    }

    31% {
        -webkit-transform: rotateZ(-8deg);
    }

    33% {
        -webkit-transform: rotateZ(6deg);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
    }

    37% {
        -webkit-transform: rotateZ(2deg);
    }

    39% {
        -webkit-transform: rotateZ(-1deg);
    }

    41% {
        -webkit-transform: rotateZ(1deg);
    }

    43% {
        -webkit-transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(0);
    }
}

.flip-box-back p{
  display: contents; 
}

.contact_new{
    background: url(https://demogswebtech.com/global_truck_academy/photo/cdr.jpg);
        background-size: cover;
}

.flip-box-front {
  background-color: #fff;
  color: #c0040b;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://demogswebtech.com/global_truck_academy/photo/cdr.jpg);
    background-size: cover;
    border-radius: 9px;
    box-shadow: 0 0 5px 4px rgba(20, 35, 60, 0.05);
    text-align:center;
}

.flip-box-back {
  background-color: #c0040b;
  color: #fff;
  transform: rotateY(180deg);
    fot-size:12px;
    padding:20px 10px;
    border-radius: 9px;
     display: flex;
    justify-content: left;
    align-items: center;
}


.top_header {
    background-color: red;
}

header .nav-item .dropdown-menu .dropdown-item {
    padding: 12px 10px 10px 12px;
}

.new_about_section , .new_choose , .new_gool_slider , .new_programs{
    box-shadow: 0px 0px 24px 9px #b6b6b66b !important;
    position: relative !important;
}

header .navbar-expand-lg .navbar-nav .dropdown-menu{
    left:unset;
    right:unset;
    margin-left: -101px;
    padding: 0px;
}

.icon_yt i {
    color: #c0040b;
    font-size: 27px;
    margin-top: 2px;
}

.img_new img {
    padding: 17px;
}

.new_contant_us a {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.slider_new_steel .carousel-item::before , .new_sention_team #carouselExampleCaptions .carousel-item::before  {
    content: "";
    position: absolute;
    width: 100%;
    background:#39393952;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.phone{
    display:none;
}

.form-control {
    margin-bottom: 10px;
}

header .dropdown-menu{
    min-width: 4rem;
}

.logo {
    width: 10%;
}

.new_class_login {
    color: #212529;
    text-decoration: none;
}


.testimonial .box {
    height: 312px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.testimonial .carousel-control-prev {
    left: -50px;
}

.testimonial .carousel-control-next {
    right: -50px;
}

new_cpy_text{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 2px;
}

.new_text_about .text-all {
    text-align: justify;
}

slider_new_steel.carousel-item::before {
    content: "";
    position: absolute;
    background-color: #0000003b;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
}

.new_color_images {
    background: url(https://demogswebtech.com/steel_and_metal/photo/new2.jpg);
       background-size: cover;
    background-repeat: no-repeat;
}



.new_color_images {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.new_text_tab .nav-link.active, .nav-pills .show>.nav-link {
    background: none !important;
}


/*.list-icon ul{*/
/*    margin-top: 4px;*/
/*   padding: 0 0 0 0px;*/
/*}*/
.list-icon li i{
   padding: 0 10px 0 0px;
}


.list-icon li:not(:first-child) {
    margin-top: 4px;
}



.list-icon li {
    position: relative;
    padding: 0 0 0 30px;
    margin-top: 0;
    list-style:none;
}

.icon_photo img {
    width: 100px;
    height: 100px;
}

header .dropdown-item:focus, header .dropdown-item:hover {
    color: #fff;
    background-color: #c0040b;
}

header .dropdown-item{
        font-size: 14px;
}

header .bg-primary {
    /*background-color: #3c3c3c14 !important;*/
    background: none !important;
    z-index:2;
}

.slider_new_steel .carousel-caption  h2 {
    font-size: 55px;
}

.slider_new_steel .carousel-caption p {
    font-size: 34px;
}

.new_btun p:last-child {
    text-align: right;
}


.new_btun a {
       border: 2px solid #fff;
    color: #fff !important;
    padding: 2px 13px;
    border-radius: 19px;
	text-decoration: none;
}
.new_btun p{
       /* border: 2px solid #fff; */
    color: #fff !important;
    padding: 2px 13px;
    border-radius: 19px;
	text-decoration: none;
	margin-bottom: 0px;
}

.tag a{
    margin: 7px;
}

nav#myHeader {
    box-shadow: 0px 0px 7px 2px #cfcfcf;
}

.new_ul {
    margin-left: 31px;
}

.top_header {
    background-color: #c0040b;
    padding: 12px 0px;
}

.new_rem_button {
    display: none;
}

.aiz .new_ul{
        padding-left: 0px;
}

.new_ul i {
    margin-left: -29px;
}


header .navbar-dark .navbar-nav .nav-link {
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 16px;
    /*border-radius: 10px;*/
   position: relative;
}

header .sticky .navbar-collapse {
    justify-content: left !important;
}

header .navbar-dark .navbar-nav .nav-link:focus, header .navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
}

header .navbar-dark .navbar-nav .nav-link{
        padding: 0.5rem 0rem !important;
}

header .navbar-dark .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    border-bottom: 2px solid #c0040b !important;
    transform: scaleX(0);
    transition: all 500ms ease;
}

header .navbar-dark .navbar-nav .nav-link:hover::before {
    transform: scale(1);
}


.alert {
    color: #fff;
    background-color: #c0040b ;
    border-color: #c0040b;
    font-size: 14px;
}

.alert .close {
    float: right;
    border: none;
    background: none;
}

.alert .close span{
    color: #842029;
    font-size: 18px;
}

.new_text_tab a {
    text-align: right;
    color: #fff;
    font-size: 23px;
}

.copy_gs a:hover {
    color: #fff;
    text-decoration: underline;
}

.carers_about_photo img {
    width: 100%;
    height: 224px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 4px #cdcdcd;
}
/**{*/
/*   text-transform: capitalize;*/
/*}*/

.new_box_img_text span {
    background: transparent;   
}
.slider_new_steel {
    /*padding-top: 90px;*/
}

header .sticky {
    background-color: #ffffff !important;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(10);
  }
}
.navbar-header {
    animation: smoothScrolls 1s both;
    position: relative;
}
.logo img {
    max-width: 100%;
    /*margin: 5px 0px;*/
}

.tab-pane p {
    font-size: 14px;
    margin-top: 20px;
}

.new_color_images {
    padding: 0px 89px 0px 0px !important;
}

.new_color_images::before {
    content: "";
    height: 100%;
    opacity: 52%;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #e67451b3;
}


.new_btun a:hover {
    background: #393939;
    border-color: #393939;
}


.new_border::before {
    content: "";
    height: 72%;
    z-index: 0;
    position: absolute;
    left: -34px;
    top: 10%;
    width: 100%;
    border: 3px solid #fff;
    margin: 18px 0px;
}

.new_color_images {
    position: relative;
}

.new_text_color {
    color: #fff;
    position: relative;
}


.new_color_bg .box {
    background: no-repeat;
    color: #fff;
    box-shadow: none;
}

.new_color_images .box {
    background: none;
    border-radius: 10px;
    box-shadow: none;
    color: #fff;
}

.new_contant_us._text {
    position: relative;
    color: #000;
    padding: 25px;
}

.new_image_contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_map_con {
    padding-right: 0px !important;
}

.new_image_contact {
    position: relative;
}

.zoom-in-zoom-out {
    right: 0;
    position: fixed;
    float: right;
    bottom: 0;
    margin: 0 10px 19px 0;
    z-index: 999;
    /* background: #00ca4f; */
    padding: 10px;
    border-radius: 50%;
}
.zoom-in-zoom-out img:hover{
-webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.from {
    background: #f3f3f3 url(https://pccleaning.in/global_truck_academy/public/frontend/photo/form-question.png) bottom right no-repeat;
    padding: 18px;
}

.invalid-feedback {
    display: block !important;
}


.from .form-control{
    /*border-bottom: 2px solid #ced4da !important;*/
    /*border: none;*/
    /*border-radius: 0;*/
    /*margin-bottom: 31px;*/
    padding: 14px 12px 14px 12px;
    font-size: 14px;
    margin-top: 31px;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}


/*.new_image_contact::before {*/
/*    content: "";*/
/*    height: 100%;*/
/*    opacity: 52%;*/
/*    z-index: 0;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    background: #000000ba;*/
/*}*/

.new_color_bg{
    background-image: url(https://demogswebtech.com/steel_and_metal/photo/gtre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*.new_image_contact{*/
/*    background-image: url(https://demogswebtech.com/job_vision/photo/new2.jpg);*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*        margin-right: 10px;*/
/*        height: 451px;    */
    
/*}*/

.new_video {
    margin-top: 100px;
}

.nav-link{
	
}

.navbar-dark .navbar-nav .nav-link.active:before{
        transform: scale(1);
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: #c0040b !important;
    /*border-bottom: 2px solid;*/
    /*background: #c0040b;*/
    /*color: #fff !important;*/
    /*border-radius: 10px;*/
}

header .navbar-dark .navbar-nav .nav-link:hover {
    color: #c0040b !important;
   /*background: #c0040b;*/
   /* color: #fff !important;*/
   /* border-radius: 10px; */
}


/*.slider_new_steel {*/
/*    padding: 83px 0px;*/
/*    height: 124vh;*/
/*    background-image: url(https://demogswebtech.com/steel_and_metal/photo/new32.jpg);*/
/*    background-size: cover;*/
/*    background-position: 0% -81px;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.slider_new_steel .new_video video {*/
/*    height: 500px;*/
/*    object-fit: cover;*/
/*}*/

.short-job-card__top .new_card {
    padding: 0.625rem;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(20, 35, 60, 0.05);
    height: 100%;
    border: 1px solid #e0e0e0;
    position: relative;
    display: flex;
    border-radius: 8px;
    webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
    align-items: center;
}

#carouselExampleDark .carousel-item {
    margin-bottom: 10px;
}

.short-job-card__top .new_card:hover {
    box-shadow: 0 5px 20px rgba(20, 35, 60, 0.08);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.short-job-card__thumb {
    width: 70px;
    height: 70px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.short-job-card__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.short-job-card__content {
    width: calc(100% - 70px);
    padding-left: 0.9375rem;
}

.box_new .img-fluid {
    object-fit: cover;
    max-width: 100%;
    object-position: center;
    box-shadow: 0 6px 29px rgba(20, 35, 60, 0.05);
    height: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 9px 9px 0px 0px ;
}

h6.short-job-card__title {
   font-size: 19px;
    padding-right: 3px;
    text-align: left;
    margin-bottom: 1px;
}

p.caption {
    font-size: 12px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    color: #000;
}

.fs--14px.text--muted {
    font-size: 12px;
    float: left;
}

.slider_new_steel .carousel-caption {
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 54%;
    right: 0%;
    width: 100%;
}

.slider_new_steel .carousel-inner .carousel-item img {
    height: 550px;
    object-fit: cover;
}

.btn-primary {
        color: #4d4d4d !important;
        background: none !important;
        border: 2px solid #c0040b !important;
        font-size: 15px !important;
        font-weight: 500 !important;
        border-radius: 12px !important;
}

.btn-primary:hover{
    /*border-image-source: linear-gradient(319deg, #c0040b, #393939 100%) !important;*/
    color: #fff !important;
    background-color: transparent;
    /*background: linear-gradient(to left, #c0040b 2%, #393939 100%) !important;*/
    /*border: 2px solid transparent !important;*/
    /*padding: 8px 15px;*/
    
    background: linear-gradient(to right, #393939 2%, #c0040b 100%) !important;
    border: 2px solid #af6868 !important;
}

.text_new_pra {
    font-size: 15px;
}

.new_what_whe_do .text {
    padding: 0px 12px;
    color:#000;
}

.new_imgs img {
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  margin-top: 89px;
  /* margin-left: -50px; */
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -10s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* .slider_new_steel::before { */
		/* content: ""; */
		/* height: 100%; */
		/* opacity: 0.95; */
		/* z-index: 0; */
		/* position: absolute; */
		/* left: 0; */
		/* top: 0; */
		/* width: 100%; */
		/* background: #000; */
/* } */


.new_imgs img {
    width: 67%;
}

.new_what_whe_do {
  position: relative;
  box-shadow: 0 0 5px 4px rgba(20, 35, 60, 0.05);
  border: 1px solid #e0e0e0;
  border-radius: 9px;
}


.schedule::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(319deg, #c0040b8c, #393939ba , #c0040b8c 89%);
}

.schedule_text h3 {
    position: relative;
    z-index: 4;
    color: #fff;
    width: 59%;
    margin: 0px auto;
    text-align: center;
}

/*.new_call a {*/
/*    padding: 8px 21px;*/
/*}*/

.new_call {
    padding-right: 79px;
}

/*.new_call a:hover {*/
/*    padding: 10px 22px;*/
/*}*/


/*.new_full_trauk img {*/
/*    width: 80%;*/
/*}*/

.schedule {
    background-image: url("https://demogswebtech.com/global_truck_academy/photo/group-trucks-parked-line-truck-stop-(1).jpg");
    background-size: cover;
        background-position: center;
            position: relative;
}

.counter , .shedo {
    background-image: url("https://demogswebtech.com/global_truck_academy/photo/re.jpg");
    background-size: cover;
        background-position: center;
}

/*.new_about_section{*/
/*     background-image: url("https://demogswebtech.com/global_truck_academy/photo/new.png");*/
/*    background-size: cover;*/
/*        background-position: center;*/
   
/*}*/



.w3-animate-top{animation:animatetop 2s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 2s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 2s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 2s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 2s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}


/*.reveal{*/
  /*position: relative;*/
/*  transform: translateY(150px);*/
  /*opacity: 0;*/
/*  transition: 1s all ease;*/
/*}*/

/*.reveal.active{*/
/*  transform: translateY(0);*/
  /*opacity: 1;*/
/*}*/

header .nav-item {
    padding: 0px 25px;
}


footer .new_logo {
    text-align: center;
    padding-right: 31px;
}

.new_logo img {
    width: 10%;
    background: #fff;
    text-align: center;
    margin: 21px 0px;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}



.new_what_whe_do .shape-two {
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(5deg, #fb0000, #fd027a, #fb00006b 74%);
	background: linear-gradient(67deg, #c0040b, #393939, #c0040b 91%);
	border-radius: 50%;
	position: absolute;
	border-radius: 0;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transform: scale(0);
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 300ms ease;
}

.new_what_whe_do:hover .shape-two {
    opacity: 0.7;
    transform: scale(1);
    webkit-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    transition-delay: 200ms;
        border-radius: 9px;
}

.new_what_whe_do:hover .overlay .text {
    color: #fff !important;
    z-index: 9 !important;
    position: relative !important;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #fff;
  height: 45px;
  transition: .5s ease;
  border-radius: 0px 0px 9px 9px;
}

/* .new_what_whe_do:hover .overlay { */
  /* height: 40%; */
/* } */


.new_color_bg {
    height: 47vh;
    display: flex;
    align-items: center;
}

.text {
    color: white;
    font-size: 20px;
    /*position: absolute;*/
    /*top: 118px;*/
    /*left: 50%;*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    text-align: center;
    width: 100%;
    margin-top: 7px;
}


.new_test_first h2 {
    margin-top: 25%;
    color: #fff;
    font-size: 40px;
}

.new_imgs {
    text-align: end;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

img {
    width: 100%;
}

.new_slider_image img{
	width:100%;
}
/*.new_about_section{*/
/*	margin-top: -18%;*/
/*}*/

.new_photo_ure img {
transition: 1s ease;
}

.new_photo_ure img:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}

/*new css*/

.new_sention_team .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

*{
    font-family: 'Roboto', sans-serif;
}

/**{*/
/*	font-family: 'Montserrat', sans-serif;*/
/*}*/


.new_sention_team .carousel-caption{
	top:40%;
}

.slider_new_steel .bgr .btn-primary {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #c0040b !important;
    border-radius: 11px;
}

.single-department {
    box-shadow: 0px 0px 6px 1px #d7d7d7;
    padding: 12px 10px;
    margin-bottom: 19px;
}

.single-department {
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 280px;
}

.single-department .img_new {
    width: 90px;
    height: 90px;
    margin: 14px auto;
    background: #ffffff;
    border-radius: 50%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 1px #d7d7d7;
    text-align: center;
        position: relative;
    z-index: 9;
}

.user_link ul {
    padding-left: 0px;
}

.user_link ul a {
    padding: 3px 0px !important;
    color: #fff !important;
}

.single-department .shape-one {
    content: '';
    width: 400px;
    height: 400px;
    /* background: linear-gradient(5deg, #fb0000, #fd027a, #fb00006b 74%); */
    /* background: linear-gradient(67deg, #c0040b, #393939, #c0040b 91%); */
    border-radius: 50%;
    position: absolute;
    border-radius: 50%;
    background: #c0040b;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    left: 46%;
    bottom: 22%;
}

.new_foter_icon{
    padding-left: 0px;
    padding-right: 35px;
}

.single-department:hover .shape-one {
    opacity: 0.8;
    transform: scale(1);
    webkit-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    transition-delay: 200ms;
}

.single-department:hover {
        background: #414141;
        transition: all 600ms ease;
}

.single-department:hover .img_new {
    box-shadow: unset;
}

.single-department:hover p , .single-department:hover h5 {
    color: #fff;
    position: relative;
    z-index: 9;
}

.btn-secondary{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #c0040b !important;
    border-radius: 11px !important;
    font-weight: 600 !important;
     border: 2px solid #fff !important;
}
.btn-secondary:hover{
    color: #fff !important;
    background-color: #c0040b !important;
    /*border-color: #c0040b !important;*/
    background: linear-gradient(319deg, #c0040b, #393939 100%) !important;
    /*border-image-source: linear-gradient(319deg, #c0040b, #393939 100%) !important;*/
    border: 2px solid #af6868 !important;
}

.img_icon_box-front img {
    width: 23%;
    margin: 0px auto;
}

.img_icon_box-front {
    text-align: center;
}

.new_fip_bh li span {
    font-weight: 600;
}
.new_photo_ure img {
    width: 100%;
    height: 466px;
    object-fit: cover;
    border-radius: 1px;
    box-shadow: 0px 0px 9px 2px #cdcdcd;
}

.new_line h1:after {
    position: absolute;
    content: "";
    width: 8%;
    height: 2.5px;
    border-radius: 5px;
    left: 46%;
    bottom: -8px;
    background: #c0040b;
}

.new_box_img {
    position: relative;
    z-index: 2;
    text-align: center;
}

.dorn_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34%;
}

.up_img {
    width: 48%;
    margin: 0px auto;
    position: relative;
}

.new_box_img_text h4 {
    text-align: center;
    color:#fff;
    font-weight:700;
}

.new_box_img_text p{
    color:#fff;
}

.new_line h1{
    position: relative;
}

.copy_uy {
    background: none;
    color: #fff;
}

.lead {
    font-size: 14px !important;
    font-weight: 500 !important;
    text-align: justify;
}

iframe.iframe-facebook {
    width: 341px;
    height: 370px;
    margin: 0 auto;
    border: 0;
    display: inline-block;
    overflow: hidden;
}


footer {
    /*background: linear-gradient(67deg, #c0040b, #393939, #c0040b 91%) !important;*/
    background: url("https://demogswebtech.com/global_truck_academy/photo/Footer-bg.png");
    background-size: cover;
}

.new_images_sold{
   background: url("https://pccleaning.in/global_truck_academy/public/frontend/photo/new_img.jpg");
    background-size: cover; 
    /*background-position: bottom; */
}



.new_services{
    background: url("https://demogswebtech.com/global_truck_academy/photo/cdr.jpg");
    background-size: cover; 
    background-position: bottom;
}

.start_your_engine{
    background: url("https://demogswebtech.com/global_truck_academy/photo/cdr.jpg");
    background-size: cover; 
    background-position: center;
    box-shadow: 0 0 5px 4px rgba(20, 35, 60, 0.05);
}

.shedo_2{
     background: url("https://demogswebtech.com/global_truck_academy/photo/cdr.jpg");
    background-size: cover; 
    background-position: center; 
}

.call_global_truck_academy{
    background: url("https://demogswebtech.com/global_truck_academy/photo/cdr.jpg");
    background-size: cover; 
    background-position: top;
}


.fb_icon {
    width: 13%;
    margin: 19px auto;
}


body .new-footer {
    background: none !important;
}

.new_what_whe_do:hover .bgr {
    position: relative;
    z-index: 99;
    top: -94px;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align:center;
}

.socal_icon {
    right: 0;
    position: fixed;
    float: right;
    bottom: 0;
    margin: 0px 13px 54px 0;
    z-index: 999;
    /* background: #00ca4f; */
    padding: 10px;
    border-radius: 50%;
}

.socal_icon ul li {
    list-style: none;
}

.socal_icon ul li a {
    color: #fff;
    /*background: #41c3f3;*/
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 7px 0;
    padding-top: 0px;
    font-size: 19px;
}


/*.socal_icon ul li a {*/
/*    color: #000;*/
/*    background: #fff;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    display: flex;*/
/*    border-radius: 50%;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-decoration: none;*/
/*    margin: 2px;*/
/*    padding-top: 1px;*/
/*}*/

/*.socal_icon ul li{*/
/*	padding: 0px 0px;*/
/*}*/

p.copy_level {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}

body .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.copy_gs a {
    color: #fff;
    text-decoration: none;
}

footer {
    color: #fff;
    overflow: hidden;
}

.new_logo_test {
    font-size: 21px;
}



.contact_d::before {
    border-left: 1px solid #ffffff;
    content: "";
    left: -31px;
    position: absolute;
    top: -31px;
    bottom: -70px;
}

.new_foter_icon li {
    display: inline;
    color: #fff;
}

.contact_d a:hover{
    color:#fff;
}

.new_foter_icon li a {
    padding: 6px;
    background: white;
    border-radius: 50%;
    color: #a90d13;
    font-size: 19px;
    text-align: center;
    margin: 6px;
    border: 2px solid #fff;
}

.new_foter_icon li a:hover {
    border: 2px solid;
    background: none;
    color: #fff;
}

.new_foter_icon li a:hover i {
    color: #fff;
    background: none;
}

.footer_ul {
    padding-left: 0px;
}

.new_foter_icon li a i {
    width: 23px;
    height: 23px;
    background: white;
    border-radius: 50%;
    text-align: center;
}

.contact_d{
    position: relative;
}



.contact_d a {
    color: #ffff;
    text-decoration: none;
    line-height: 2;
}


footer .nav-link {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    
}

footer .nav-link:hover {
    transform: translatex(6px) !important;
        font-weight: 600;
    
}

footer .nav-link span:hover::before{
   transform: scaleX(1);
}

footer .nav-link span{
   position: relative; 
}


footer .nav-link span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #c0040b;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.new_polices p {
    line-height: 29px;
}

p.copy_gs {
    font-size: 13px;
    margin: 0px 0px 2px 0px;
    font-weight: 500;
}


.new_name_footer ul li {
    list-style: none;
}

/*.new-footer ul li {*/
/*	display: inline-block;*/
/*}*/

.new-footer .navbar-nav {
    display: block;
}

.new_what_whe_do img {
    border-radius: 12px 12px 0px 0px;
}

.box {
    padding: 21px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 2px #cdcdcd;
    text-align: center;
}

.box_icon h5 {
    background: linear-gradient(319deg, #c0040b, #393939 62%);
    color: #fff;
    padding: 9px;
    border-radius: 9px;
}



.box_icon .new_img img {
    width: 70px !important;
    height: 70px;
    margin: 10px auto;
}

.box_new .text-all {
    padding: 17px 10px;
}

.box_icon {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 2px #cdcdcd;
    text-align: center;
    padding: 10px 22px;
    margin: 17px 21px;
}

/* .box:hover { */
    /* box-shadow: 0px 3px 6px 2px #8f8d8d; */
/* } */

/* .about_us_tittle h1:after{ */
    /* width: ; */
    /* transition: 0.5s; */
/* } */
.new_color_bg {
    margin: 30px 0px !important;
    padding: 20px;
}

body .new_services {
    padding: 50px 0px 34px !important;
}

.our_tream_heading {
    padding: 17px 0px 30px;
}

.new_one_box .box {
    height: 390px;
}

.new_our_img img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 2px;
    /*box-shadow: 0px 0px 2px 4px #ddd;*/
}

.our_tream_page {
    padding: 24px 0px 60px;
}

.new_services{
    
}

.new_padding {
    padding-left: 30px !important;
}

#carouselExampleDark .carousel-control-next, #carouselExampleDark .carousel-control-prev {
    width: auto !important;
}

.our_what_we_do {
    padding: 50px 0px 80px !important;
}

.our_tream_new {
    padding-bottom: 31px;
}
.new_color_bg {
    margin: 27px 0px;
    padding: 20px;
}

.our_tream {
    background-color: #f7f7f7;
    padding: 60px 0px 60px;
}

header .navbar-collapse {
    justify-content: end;
}

@media (min-width: 1400px){
    .tab-pane p {
    font-size: 18px;
}
.new_color_images {
    padding: 76px 89px 76px 0px !important;
}

}

@media (max-width: 1199px){
    
}
@media (max-width: 1024 px){
    .single-department {
         height: 297px;
    }
    
    i.fa.fa-align-justify {
    color: #000;
}
}

@media (max-width: 991px){
    

    
   .new_padding {
    margin-top: 41px;
} 

.single-department {
    height: 311px;
}

.single-department {
    height: 315px;
}

header .bgr {
    margin-top: 3px;
}

/*.bgr {*/
/*    margin-top: 29px;*/
/*}*/

.box {
    margin: 13px 0px;
}

header #navbarNav .nav-link {
    color: #000 !important;
}
    
}

@media (max-width: 768px){
     .slider_new_steel {
    height: 36vh;
}

.new_btun {
    font-size: 14px;
}

.slider_new_steel .carousel-inner .carousel-item img {
    height: auto;
    object-fit: cover;
}

#navbarNav .navbar-nav {
    background: #fff;
    padding: 11px;
}

.new_sention_team .carousel-inner .carousel-item img {
    height: auto;

}

header .navbar .fa-align-justify {
    color: #000;
    font-size: 40px !important;
}

.logo {
    width: 69%;
    padding: 0px 0px;
}

.logo img {
    max-width: 100%;
}

.new_border::before {
    content: "";
    height: 72%;
    z-index: 0;
    position: absolute;
    left: -34px;
    top: 44px;
    width: 100%;
    border: 3px solid #fff;
    margin: 18px 0px;
}

.box_new {
    margin-top: 20px;
}

.new_photo_ure {
    margin-bottom: 46px;
}

.new_our_img img {
    width: 100%;
    height: auto;
    object-fit: cover
}

.our_tream .new_text_tab a {
    text-align: center;
}


.slider_new_steel .new_video video {
    height: 300px;
    object-fit: cover;
}

.slider_new_steel .carousel-item::before {
    content: "";
    position: absolute;
    background-color: #0000003b;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
}

.slider_new_steel {
    height: 55vh;
}

}

@media (max-width: 767px){
   .new_call {
     padding-right: 0px; 
    margin: 30px 0px;
}

.logo img {
    width: 45%;
    padding: 0px 0px;
}

.LayoutDefault__Top-sc-1ydej6v-4.jtVuCI {
    width: 100%;
    margin: 14px 0px;
}

.LayoutDefault__Content-sc-1ydej6v-5.bLFanJ {
    width: 100%;
}

.LayoutDefault__Container-sc-1ydej6v-1.eoEnOI{
    display: block;
}

.new_padding {
    padding-left: 19px !important;
    margin-top: 25px !important;
}

.new_padding {
    margin-top: 18px;
}

.about_us_tittle {
    margin-top: 13px;
}



.our_what_new , .truck_academy  {
    margin: 18px 0px;
}

.new_padding ul {
    padding-left: 14px;
}

.new_logo img {
    width: 35%;
    margin: 1px 0px 18px;
}

.flip-box {
    margin: 17px 0px;
}

header .navbar-expand-lg .navbar-nav .dropdown-menu{
    margin-left:0px;
}

.new_padding {
    padding-left: 25px !important;
}
.new_photo_ure{
        margin-bottom: 0;
}

.new_review_img img {
    width: 90px !important;
    margin: 0px auto;
}

.new_one_add .owl-prev {
  
    left: -4px;
}

.new_one_add .owl-next {
    right: -5px;
}


}

@media (max-width: 480px){
    
 .first_text_slider {
    order: 2;
}

div#exampleModal {
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*.new_img_yt img {*/
/*    height: auto;*/
/*    object-fit: cover;*/
/*    object-position: top;*/
/*}*/



swal2-modal.swal2-show {
    min-height: 276px !important;
    width: 100% !important;
}

.single-department {
    height: 255px;
}

.slider_new_steel .carousel-caption{
    width: 80%;
}



.new_photo_ure{
        margin-bottom: 0;
}

.slider_new_steel .carousel-caption h2 {
    font-size: 26px;
}

.slider_new_steel .carousel-caption p {
    font-size: 21px;
}

.slider_new_steel .carousel-caption {
    top: 57%;
}

.logo img {
    width: 45%;
    padding: 0px 0px;
}

.destop{
 display:none;     
}

.phone{
 display:block;   
}

.testimonial .carousel-control-next {
    right: 0px;
}

.testimonial .carousel-control-prev {
    left: 0px;
}

.tab-pane p {
    font-size: 14px;
    margin-bottom: 52px;
}

.slider_new_steel {
    height: auto;
}


.slider_new_steel .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
}


.new_sention_team .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: top;
}

header .navbar .fa-align-justify {
    font-size: 31px !important;
}

 
 .first_img_slider{
    order: 1; 
 }
 
.new_test_first h2 {
    margin-top: 9%;
    color: #fff;
    font-size: 24px;
}


.first_img_slider .new_imgs {
    text-align: center;
}

.first_img_slider .new_imgs img {
    margin-top: 75px;
    width: 50%;
}
.new_photo_ure img {
    height: 300px;
    
}

/*.new_about_section {*/
/*    margin-top: -39%;*/
/*}*/



.new_about_section .container {
    padding-bottom: 0px !important;
}

.our_tream_new , .our_what_new {
    padding-bottom: 6px;
}

.new_color_bg {
    margin: 0px 0px !important;
}

.new_border::before {
    content: "";
    left: 0;
    width: 96%;
    margin: 18px 7px;
}

.new_map_con {
    padding: 0px !important;
}

.our_tream_page {
    padding: 24px 0px 0px;
}

.new_color_images {
    padding: 91px 9px 89px 0px !important;
    text-align: center;
}


.our_tream  {
    background-color: #f7f7f7;
    padding: 42px 0px 50px;
}

.our_what_we_do {
    padding: 39px 0px 50px !important;
}

}	